## 1. Largest Difference in List

In [5]:
inputList = [1, 2, 90, 10, 110]

v1=0
v2=0
maxDiff=0
for i in range(0,len(inputList)-1):
  for j in range(i,len(inputList)):
    if ( abs(inputList[i]-inputList[j]) > maxDiff):
      maxDiff = abs(inputList[i]-inputList[j])
      v1= inputList[i]
      v2=inputList[j]

print(f" The largest difference is between {v1} and {v2},which is {maxDiff}")

 The largest difference is between 1 and 110,which is 109

## 2. First Non-Repeating Character

In [6]:
def FirstNonRepeatingCharacter(input):
  isNonReapeating =True
  for i in range(len(input)):
        isNonReapeating = True
        for j in range(len(input)):
            if (i != j and input[i] == input[j]):
                isNonReapeating = False
                break
        if (isNonReapeating):
            return input[i]
  return None

print("This first non repeating character is : ",FirstNonRepeatingCharacter("aabcc"))

This first non repeating character is :  b

## 3. Check If Strings Are Permutations

In [7]:
#To Check permutation
def CheckPermutations(v1,v2):
  dict1={}
  dict2={}
  for i in range(len(v1)):
    if ( dict1.get(v1[i])):
      dict1[v1[i]]+=1
    else:
      dict1[v1[i]] =1
  for i in range(len(v2)):
    if ( dict2.get(v2[i])):
      dict2[v2[i]]+=1
    else:
      dict2[v2[i]] =1

  return dict1 == dict2


print(CheckPermutations("abc","bca"))

True

## 4. Find the Second Largest Unique Number

In [8]:
inputListOfNumbers= [4, 5, 6, 6, 7]

def FindtheSecondLargestUniqueNumber(input):
  uniqueNumbers = set(input)
  largest=0
  secondLargest=0
  for x in uniqueNumbers:
        if x > largest:
            secondLargest = largest
            largest = x
        elif x > secondLargest:
            secondLargest = x

  return secondLargest

print("The second largest unique number is",FindtheSecondLargestUniqueNumber(inputListOfNumbers))

The second largest unique number is 6

## 5. Count Distinct Pairs

In [9]:
nums = [1, 2, 3, 4, 3, 6]
target = 6

seen = set()
pairs = set()

for num in nums:
    complement = target - num
    if complement in seen:
        pairs.add(tuple(sorted((num, complement))))
    seen.add(num)

print(len(pairs))

2

## 6. Remove Duplicates from List

In [10]:
duplicated_nums = [1, 2, 2, 3, 4, 5, 1]
unique_num = set()
result = []

for x in duplicated_nums:
    if x not in unique_num:
        result.append(x)
        unique_num.add(x)

print(result)

[1, 2, 3, 4, 5]

## 7. Subsets of a List

In [11]:
def subsets(nums):
    result = []

    def backtrack(start, path):
        result.append(path[:])
        for i in range(start, len(nums)):
            path.append(nums[i])
            backtrack(i + 1, path)
            path.pop()

    backtrack(0, [])
    return result


print(subsets([1, 2, 3]))

[[], [1], [1, 2], [1, 2, 3], [1, 3], [2], [2, 3], [3]]

## 8. Longest Increasing Subsequence

In [ ]:
def longest_seq(lst):
    count = 1
    for i in range(1, len(lst)):
        if lst[i] > lst[i - 1]:
            count += 1
    return count

print(longest_seq([10, 9, 2, 5, 3, 7, 101, 18]))

4

Q9

In [ ]:
def max_product(lst):
    max_prod = lst[0] * lst[1]
    for i in range(len(lst)):
        for j in range(i + 1, len(lst)):
            prod = lst[i] * lst[j]
            if prod > max_prod:
                max_prod = prod
    return max_prod

print(max_product([1, 10, -5, 1, 100]))

1000

Q10

In [ ]:
def most_frequent(s):
    counts = {}
    for char in s:
        if char in counts:
            counts[char] += 1
        else:
            counts[char] = 1

    max_count = max(counts.values())
    for char in sorted(counts):
        if counts[char] == max_count:
            return char

print(most_frequent("aabbbc"))

b

Q11.

In [ ]:
def primes(n):
    prime_list = []
    for num in range(2, n):
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            prime_list.append(num)
    return prime_list

print(primes(10))

[2, 3, 5, 7]

## 12. Sum of Variable-Length Arguments

In [12]:
def sum_numbers(*args):
    return sum(args)

print(sum_numbers(2, 3, 4,5,6,10,21,88))

139

## 13. Find the Student with Highest Score

In [13]:
def highest_score_student(scores):
    return max(scores, key=scores.get)

students = {"Ali": 85, "Usman": 90, "Charlie": 92,"Murphy":79,"Kate":97}
print(highest_score_student(students))

Kate

## 14. Apply Lambda to List

In [15]:
def apply_lambda(lst, func):
    return [func(x) for x in lst]


numbers = [1, 2, 3, 4,19,8,44]
square = lambda x: x ** 2  # Here we define the lambda function to square numbers
print(apply_lambda(numbers, square))

[1, 4, 9, 16, 361, 64, 1936]

## 15. Sum or Multiply Based on Keyword Argument

In [16]:
def calculate(*args, operation='sum'):
    result = 1 if operation == 'multiply' else 0
    for num in args:
        result = result * num if operation == 'multiply' else result + num
    return result


print(calculate(1, 2, 3, 4, operation='multiply'))
print(calculate(1, 2, 3, 4))

24
10